*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: gray;
}

/*main header logo*/
.main-header{
    padding: 15px;
    background-color: white;
}

.title-logo-fix{
    vertical-align: middle;
}


/*main container*/

.main-container{
    width: 900px;
    margin: 40px auto;
    background-color: white;
}

.buttom-mod{
    display: inline-block;
    width: 70px;
    padding: 5px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 10px;
}
