*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: gray;
}

.main-header{
    padding: 15px;
    background-color: white;
}


.title-logo-fix{
    vertical-align: middle;
}
